
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --font-size-3: 3rem;
    --font-size-1-5: 1.5rem;
    --font-bolder: bolder;
    --margin-top-20: 20px;
    --margin-bottom-20: 20px;
    --grey: hsl(0, 0%, 70%);
    --gap-10: 10px;
    --gap-20: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  "Noto Sans", sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    
}



h1{
    text-align: center;
    background-color: hsl(0, 0%, 90%);

}

.disclaimer .light-grey{
    color:  var(--grey);
}
.college-section{
    display: flex;
    width: 100vw;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    gap: var(--gap-10);
}

.college-section .college{
    display: flex;
 
    justify-content: center;
}

.info{
    align-self: center;
}
.info h1{
    font-size: var(--font-size-3);
    background-color: initial;
    margin-bottom: var(--margin-bottom-20);
}

.disclaimer p{
    text-align: center;
}

.cgpa-section{
    display: flex;
    gap: var(--gap-20);
    width: 100vw;
    justify-content: center;
}

.cgpa-section::before{
    position: absolute;
    content: url('img/logo.jpeg');
    opacity: 0.1;
   left: auto;
   right: auto;
   z-index: -1;

}

#result{

    font-size: var(--font-size-1-5);
    margin: var(--margin-top-20);
    font-weight: var(--font-bolder);
}
#result::after{
    content: '*';
}
/* .input{
    margin-left: var(--margin-top-20);
}
.input label{
    font-size: var(--font-size-1-5);

}

.input input{
    margin-top: var(--margin-bottom-20);
    width: 300px;
    height: 60px;
    font-size: var(--font-size-1-5);
    border-radius: 10px;

} */

.input{
    width: 300px;
    /* position: fixed;
    top:0;
    left:0; */
}
button{
    width: 100%;
    height: 60px;
    font-size: var(--font-size-1-5);
    margin: var(--margin-top-20);
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 90%);
}
.output{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}

.container{
    display: flex;  
    justify-content:space-around;
    font-size: var(--font-size-1-5);
    font-weight: var(--font-bolder);
    margin-bottom: var(--margin-bottom-20);
    
}

.container span::after{
    content: '.';
}

/* .container .course-code label{
    font-size: var(--font-size-1-5);
} */

.container input{
    height: 60px;
    font-size: var(--font-size-1-5);
    border-radius: 10px;
    margin-top: var(--margin-top-20);
    padding: 10px;

}

